@using World.Data.Web.Components.Navbar
@using static World.Data.Web.Shared.NavbarCascadingState
@inherits LayoutComponentBase

<Navbar NavbarState="navbarState"></Navbar>


<main>
    @Body
</main>

@code {
    [CascadingParameter]
    public NavbarCascadingState navbarState { get; set; } = new();
}
