@page "/new-york"
@using World.Data.Web.Components.Navbar
<h3>New_York</h3>

@code {
    [CascadingParameter]
    public NavbarCascadingState navbarState { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        navbarState.BuildNavbar("World Data");
        navbarState.AddNavbarInput(new NavbarButton() { Name = "Home", Route = "home", Active = true });
        navbarState.AddNavbarInput(new NavbarButton() { Name = "New York", Route = "new-york", Active = false });
        navbarState.AddNavbarInput(new NavbarButton() { Name = "Rome", Route = "rome", Active = false });
    }
}
